version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "otuschhoff"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(deps):"
      prefix-major: "chore(deps)!:"
      prefix-minor: "chore(deps):"
      prefix-patch: "chore(deps):"
